@use 'theme' as *;
@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: $primary-font-family;
  font-size: font-size($md);
  background-color: color($lighter-gray);
  color: color($dark-gray);
}
