@use 'theme' as *;

$search-form-height: 136px;

.container {
  padding: spacing($xl);
  max-width: 990px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;

  @include desktop-breakpoint {
    justify-content: flex-start;
  }
}

.withPadding {
  @include desktop-breakpoint {
    padding-top: $search-form-height;
  }
}

.pageContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.pageContentWithProducts {
  align-items: flex-start;
}
