$primary: 'primary';
$secondary: 'secondary';
$accent: 'accent';
$white: 'white';
$black: 'black';
$gray: 'gray';
$light-gray: 'light-gray';
$dark-gray: 'dark-gray';

$colors: (
  $primary: #516cb1,
  $secondary: #a8cef7,
  $accent: #0a1c6b,
  $white: #fff,
  $black: #131313,
  $gray: #707070,
  $light-gray: #f1f1f1,
  $dark-gray: #323232,
);
